<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDps6gmBPCyxMBW8MqDyW7WCmH4-WxTj9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>329388718923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xinu.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e78c7</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e78c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329388718923:ios:2063404c665d99ee27c6ce</string>
</dict>
</plist>